name: Run gradle build

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - README.md
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - README.md
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    uses: qupath/actions/.github/workflows/gradle.yml@main
